<header id="main_header">
    <a href="/users/sign-in">sign in</a>
    <a href="/users/sign-up">sign up</a>
    <a href="/users/sign-out">sign out</a>
    <a href="/users/profile">profile</a>
</header>