<form action="/log-in-session" method="post">
  <input type="text" name="name" id="name" required />
  <input type="email" name="email" id="email" required />
  <input type="password" name="password" id="password" required />
  <input
    type="confirm_password"
    name="confirm_password"
    id="confirm_password"
    required
  />
  <button type="submit">Submit</button>
</form>
